@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DHGCDB</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>
            Click the clients menu to browse existing clients or create new one
        </p>
    </div>
</div>